{% extends 'base.html.twig' %}

{% block title %}Toutes les performances{% endblock %}

{% block body %}
    <h1>Toutes les performances : </h1>
    {% for performance in performances %}
        <div>
            <h2>{{ loop.index }} / {{ performance.title }} - Catégorie : {{ performance.category.name }}</h2>
            <div class="little-pic">
                <img src="{{ performance.photo }}" alt="performance picture">
                </div>
            <p>{{ performance.synopsis }}</p>
        </div>
    {% else %}
        Aucune performance trouvée.
    {% endfor %}

{% endblock %}
